<div class="header-container">
  <h1>EducaPuzzle</h1>
  <nav>
    <p-button type="button" label="Inicio" icon="pi pi-home" (click)="inicio()" class="p-button-text"></p-button>
    <p-button *ngIf="isAdmin" type="button" label="Administrar Usuarios" icon="pi pi-users" (click)="gestionUser()" class="p-button-text"></p-button>
    <p-button *ngIf="isProfesor" type="button" label="Administrar Puzzles" icon="pi pi-palette" (click)="gestionPuzzle()" class="p-button-text"></p-button>
    <p-button *ngIf="isAlumno" type="button" label="Resolver puzzle" icon="pi pi-pencil" (click)="resolverPuzzle()" class="p-button-text"></p-button>
    <p-button type="button" label="Ranking" icon="pi pi-star-fill" (click)="ranking()" class="p-button-text"></p-button>
    <p-button type="button" label="Foro" icon="pi pi-comments" (click)="foro()" class="p-button-text"></p-button>
    <p-button type="button" label="Cerrar Sesión" icon="pi pi-sign-out" (click)="logout()" class="p-button-text"></p-button>
  </nav>
</div>