<p-dialog header="Editar roles" [(visible)]="visible" [modal]="true" [style]="{width: '400px'}" (onHide)="cerrar()">
  <form (ngSubmit)="guardar()">
    <div *ngFor="let rol of roles" style="margin-bottom: 1rem;">
      <p-checkbox
        [(ngModel)]="rolesChecked[rol.nombre]"
        [binary]="true"
        name="rol-{{rol.nombre}}"
        inputId="rol-{{rol.nombre}}">
      </p-checkbox>
      <label for="rol-{{rol.nombre}}" style="margin-left: 0.5rem;">{{ rol.nombre }}</label>
    </div>
    <div style="text-align:right;">
      <button pButton type="button" label="Cancelar" class="p-button-text" (click)="cerrar()"></button>
      <button pButton type="submit" label="Guardar" class="p-button-success" style="margin-left:1rem;"></button>
    </div>
  </form>
</p-dialog>